* {
    margin: 0;
    padding: 0;
}

h2 {
    margin-bottom: 100px;
    color: gray;
}

p, input, button {
    font-size: 1.3em;
    color: rgb(120, 120, 120);
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: rgb(120, 120, 120);
}

/*set background image*/
body {
    background-image: url("../img/sfondo2.jpg");
    background-size:  cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}

.page {
    padding-top: 0;
    padding-bottom: 30em;
}

.main-menu {
    padding: 30px;
    padding-left: 70px;
    min-width: 200px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(120, 120, 120);
    border-radius: 20px;
}

.header {
    text-align: right;

}

.card {
    justify-content: center;
    align-items: center;
    position: sticky;
    width: 200px;
    height: 230px;
    margin: 20px 30px 0px 0px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(120, 120, 120);
    border-radius: 20px;
    background-color: rgb(243, 204, 167);
}

.card>img:first-child {
    width: 40px;
    position: absolute;
    left: 0;
    top: 0;
}

.card>img:last-child {
    width: 40px;
    position: absolute;
    right: 0;
    bottom: 0;
    transform: rotate(180deg);
}

.main-wrapper {
    display: flex;
    flex-direction: row-reverse;
}

.pages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*stile progetti*/

.img-project {
    width: 100px;
    height: 100%;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-block-end: 50px;
} 

.list-projects>ul>:nth-child(even) {
   flex-direction: row;
}

.list-projects>ul>:nth-child(odd) {
    flex-direction: row-reverse;
}

.list-projects {
    overflow-y: scroll;
    max-height: 750px;

}

/*stile keyboard*/

.key {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(120, 120, 120);
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-projects {
    height: 166.5px;
}

.filter-projects>input {
    width: 70%;
    height: 80%;

}

.filter-projects>button {
    width: 28%;
    height: 80%;
}

.row {
    margin: 0;
}

/* side menu */

.side-menu {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    width: 150px;
    min-width: 150px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(120, 120, 120);
    border-radius: 20px;
}

.menu-items {
    position: fixed;
    top: 60px;
    right: 0px;
    width: 150px;
    min-width: 150px;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);

  /* Firefox */
    -moz-transform: rotate(90deg);

  /* IE */
    -ms-transform: rotate(90deg);

  /* Opera */
    -o-transform: rotate(90deg);

}

.lines {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
    
}

svg {
    width: 70%;
    margin: 0;
    overflow: visible;
}

button, input {
    background-color: transparent;
    border: solid gray 1px;
}

/* side scroll bar */