* {
    margin: 0;
    padding: 0;
}

.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

#home {
    display: flex;
    justify-content: center;
}

.page {
    height: 1080px;
    max-height: 1080px;
}

.container-home {
    position: relative;
    width: 800px;
    height: 500px;
    margin-top: 5em;

}

.container {
    min-width: 850px;
}

.container * {
    max-height: 1000px;

}

.main-menu {
    padding: 30px;
    padding-left: 70px;
    min-width: 200px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 20px;
}

.header {
    text-align: right;

}

.card {
    position: relative;
    top: 0;
    width: 200px;
    height: 250px;
    margin: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 20px;
}

.side-menu {
    position: relative;
    top: 0;
    width: 200px;
    padding: 30px;

    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 20px;
}

.main-warpper {
    display: flex;
    flex-direction: row-reverse;
}

.pages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/*evidenzio i bordi della tabella per vedere meglio la struttura*/

#projects>.container * {
    border-style: solid;
    border-width: 1px;
}   

/*stile progetti*/

.img-project {
    width: 100px;
    height: 100%;
}

.project {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-block-end: 50px;
} 

.list-projects>:nth-child(even) {
   flex-direction: row;
}

.list-projects>:nth-child(odd) {
    flex-direction: row-reverse;
}

.list-projects {
    overflow-y: scroll;

}

/*stile keyboard*/

.key {
    width: 50px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(150, 150, 150);
    border-radius: 20px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filter-projects {
    height: 166.5px;
}

.filter-projects>input {
    width: 70%;
    height: 80%;

}

.filter-projects>button {
    width: 28%;
    height: 80%;
}

.row {
    margin: 0;
}