* {
    margin: 0;
    padding: 0;
}

p::selection, a::selection, h1::selection, h2::selection, h3::selection, img::selection, div::selection, span::selection, strong::selection {
 background-color: #80d21e;
 color:rgb(0, 0, 0)
}

h1 {
    color: #9b532f;
    font-family: 'Fredericka the Great', cursive;
    
}

.my-name {
    font-size: 23pt;
    margin-top: -7px;
}


h2 {
    margin-top: 33px;
    margin-bottom: 30px;
    margin-right: 15px;
    color: gray;
    text-shadow: 0px 0px rgb(0, 0, 0);
    font-family: 'Fredericka the Great', cursive;

}

p, input, button {
    font-size: 1.3em;
    color: rgb(120, 120, 120);
    background-color: transparent;
    border: none;
}

a, a:active, a:visited, a:hover {
    text-decoration: none;
    color: rgb(120, 120, 120);
    display: inherit; /*cosi' funziona con text-align: come un <p> nella lista progetti e per il resto funziona inline*/
}

li {
    list-style: none;
}

/*set background image*/
body {
    background-image: url("../img/background.webp");
    background-size: contain;
    background-attachment: scroll;
    background-position: initial;
    overflow: overlay;
}

/* scrollbar */

    /* compatibilia' scrollbar Edge, Chrome */
::-webkit-scrollbar {
    background-image: none;
    width: 10px;
    
}

::-webkit-scrollbar-button {
    background: gray;
    height: 2px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: none;
    width: 2px;
    border: solid gray 2px;
    border-radius: 20px;
}

::-webkit-scrollbar:horizontal {
    display: none;
}

    /* compatibilia' scrollbar Firefox */
:root, .list-projects {
    scrollbar-color: gray transparent;
    scrollbar-width: thin;
}

/* flexbox */
.flexbox-row {
    display: flex;
    flex-direction: row;
}

.flexbox-column {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.space-between {
    justify-content: space-between;
}
.wrap {
    flex-wrap: wrap;
}

.center {
    justify-content: center;
    align-items: center;
}

/*  */

.pages-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.page {
    display: block;
    width: 100%;
    padding-top: 0;
    
}

section {
    display: flex;
    flex-direction: row;
    
}

.header {
    text-align: right;

}

/* bio page */

.profileImg {
    width: 300px;
}

#bio > .page > .container {
    max-width: 100%;
    background-image: url('../img/photoBio.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    mix-blend-mode: multiply;
    margin-left: -5px;
}

#bioText {
    display: flex;
    gap: 10%;
    justify-content: end;
    margin-top: 30px;
    margin-right: 13%;
    margin-bottom: 150px;
}

#bioText > p > a {
    color: darkred;
    display: inline;
}

#bioText > p {
    min-width: 250px;
    width: 200px;
}


#bioText br {
    display: block;
    margin: 2em;
    font-size: 30% 
}

/*stile progetti*/

    /* showbox */
.carousel-inner {
    width: 90%;
}

.col-right, .col-left {
    padding: 5px;
    min-width: 400px;
}

.col-right > div {
    margin-bottom : 10px;
    align-items: center;
}

.project {
    margin-top: 30px;
}

.project *:hover {
    color: darkred;
}

.project:hover .project-description > .project-text-description {
    display: block;
}

.list-projects > :nth-child(1) { 
    margin-top: 0;

}

.project-image {
    width: 100px;
    height: 100%;
    margin: 15px;
}

.project-text {
    margin: 20px;
    width: 280px;
}

.project-text-description {
    font-size: small;

}

.project-text-description {
    display: none;
}

.project-tags {
    font-size: small;
    font-style: italic;
}

.project-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.list-projects {
    overflow-y: scroll;
    max-height: 750px;
    padding-right: 30px;
}

.list-projects > :nth-child(even) > .project-main {
   flex-direction: row;
}

.list-projects > :nth-child(odd) > .project-main {
    flex-direction: row-reverse;
}

.list-projects > :nth-child(even) > * {
    text-align: right;

}

    /* slideshow */
.indicators {
    width: 60%;
    min-width: 314px;
}

.row {
    margin-bottom: 60px;
}

    /* filtro */

.filter-projects {
width: calc(80% - 50px);
    height: 1px;
    margin-right: 40px;
    overflow: hidden;
    border: solid 2px gray;

}

.filter-projects > form > input {
    border-bottom: solid 4px gray;

}

.filter-projects:hover, .filter-projects:active, .filter-projects:focus-within {
    overflow: visible;
    border: none;
    height: 50px;
}

.filter-projects > form * {
    font-size: 12pt;
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    background: transparent;
    width: 100%;
    border: none;
}

.filter-projects > form > input:focus {
    visibility: visible;
    border-color: gray;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(58, 59, 58, 0.6);
    outline: 0 none;
}

.filter-report {
    margin-top: 10px;
    font-size: 10pt;
    text-align: left;    
}


/* skills page*/

#skills>.page>.container {
    padding: 5em;
}

.card {
    justify-content: center;
    text-align: center;
    position: sticky;
    width: 200px;
    height: 230px;
    top: 20px;
    margin: 20px 30px 0px 0px;
    border-style: solid;
    border-width: 4px;
    border-color: rgb(94, 91, 80);
    border-radius: 20px;
    background-image: url("../img/cards/cardBackground.png");
    background-size: cover;
    box-shadow: inset 0 0 30px rgb(147, 107, 70);
}

.card > div {
    width: 30px;
    position: absolute;
}

.card > div:first-child {
    left: 0;
    top: 0;
    margin: 3px;
}

.card > div:last-child {
    right: 0;
    bottom: 0;
    margin: 3px;

}

.card > div:last-child > img, .card > div:last-child > p {
    transform: rotate(180deg);
}

.card > div > img {
    width: 100%;
}

.card> a > p::first-letter {
    text-transform: uppercase;
}

.card> a {
    display: block;
}

.card > a > p, .card > div > p {
    font-size: 18pt;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.card > a > p {
    text-shadow: 0px 0px 30px;

}

.card > div > p {
    font-weight: bold;
}

.coding > a > p, .coding > div > p {
    color:darkblue;
}

.design > a > p, .design > div > p {
    color:darkred;
}

.platform > a > p, .platform > div > p {
    color:darkgreen;
}

@media screen and (max-width: 480px) { 
    .card {
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
    }
    
    .card > div:last-child {
        display: none;
    
    }

    .card > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80px;
    }

    .card > a > p {
        font-size: 21pt;
    }
}

/* side menu */

.side-menu {
    display: block;
    width: 160px;
    min-width: 160px;
    max-width: 160px;
    margin-right: 25px;
}

.side-menu > svg {
    width: 160px;
    height: calc(100% - 160px);
    position: relative;
    max-height: calc(100% - 160px);

}

.side-menu > svg:first-child {
    height: 160px;
   
}

.menu-items {
    position: fixed;
    z-index: 2;
    top: 280px;
    right: 15px;
    min-width: 150px;
    width: 150px;
    transform: rotate(90deg);
    /* Safari */
    -webkit-transform: rotate(90deg);

    /* Firefox */
    -moz-transform: rotate(90deg);

    /* IE */
    -ms-transform: rotate(90deg);

    /* Opera */
    -o-transform: rotate(90deg);

}

.menu-items > li > a > span:hover {
    color: rgb(124, 107, 29);
}

.menu-items > li > a > span:active {
    color: rgb(0, 200, 255);
}

.menu-items>li * {
    margin: 0;
}

.menu-items > li > a > span {
    font-size: 21pt;
    color: rgb(87, 87, 87);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    text-decoration: none;
    line-height: 1.1;
}

#lines {
    stroke: gray;
}


/* contatti */

#contacts-list {
    align-items: center;
    height: 600px;
    padding-left: 80px;
    padding-right: 80px;
    width: 90%;
    /* lascio le impostazioni del background-image in caso la dovessi aggiungere di nuovo; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

ul#contacts-list > li> a > img {
    width: 70px;
    opacity: 0.5; 
}

ul#contacts-list > li:hover, ul#contacts-list > li:active{
    background-image: url("/img/contacts/hover.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

ul#contacts-list > li> a > img:hover, ul#contacts-list > li> a > img:active{
    opacity: 1;

}

#contacts > * {
    max-height: 50em;
}

#connections-contacts {
    overflow: visible;
}

/* footer */

footer {
    display: flex;
    justify-content: space-around;
    background-image: url("../img/backgroundFooter.png");
    background-repeat: repeat-x;
    padding-top: 0px;
    min-height: 100px;
    font-size: 12pt;
    gap: 10%;
 
    padding-bottom: 100px;

}

#credits {
    text-align: right;
    padding-right: 25px;
}

footer a:link, a:visited, a:active {
    color: darkred;
    display: inline;
 }

 footer > div > button {
    background-color: rgba(255, 228, 196, 0.474);
    z-index: 10;
    border-radius: 13px;
    padding: 5px;
    box-shadow: 0 1px 1px rgba(172, 133, 86, 0.273) inset, 0 0 8px rgba(94, 52, 18, 0.6);
    font-size: 12pt;

 }

 footer > div {
    display: grid;
    width: fit-content;
    
 }


 footer > div > p {
    font-size: 12pt;
    color: black;
 }

#spaceCredits {
    display: block;
    margin: 6em;
    font-size: 30% 
}

@media screen and (min-width: 1200px) {
    #spaceCredits {
        margin: 14em;
    }
}

/* responsive device */

@media screen and (max-width: 726px) {
    
    .profileImg {
        width: 200px;
    }

    .side-menu, .linesFromProfile {
        display: none;
    }

    #home>.page>.container {
        padding-top: 40px;
        padding-bottom: 280px;

    }

    .menu-items {
        background-image: url('../img/backgroundMenu.png');
        background-size: cover;
        flex-direction: row;
        transform: none;
        display: flex;
        top: 0;
        left: 0;
        width: unset;
        justify-content: space-around;
        height: 40px;
    }

    .itemHover {
        font-size: 14pt;
        letter-spacing: -1.8px;
    }

    .itemHover:active {

    }


    .header {
        margin-top: 100px;
    }

    .col-left {
        display: none;
    }

    #contacts {
        padding-bottom: 150px;
    }

    ul#contacts-list > li > a > img {
        width: 55px;
    }

    ul#contacts-list {
        width: 100%;
        gap: 28px;
    }

    #contacts > .page > .container {
        max-width: none;
    }
}
@media screen and (max-width: 1360px) {
    #bio > .page > .container {
        background-size: 800px;

    }
    #bioText {
        margin-right: 8%;
    }
}    
@media screen and (max-width: 1200px) {
    #projects > .page> .container {
        flex-flow: column-reverse;
    }
    
    #bio > .page > .container {
        background-image: none;
    }

    #bioText {
        justify-content: center;
        margin: 20px;
    }
}

@media screen and (min-width: 726px) and (max-width: 1035px) {
    #contacts {
        padding-bottom: 150px;
    }

    ul#contacts-list {
        gap: 10%
    }
    
    ul#contacts-list > li > a > img {
        width: 55px;
    }
}

@media screen and (max-width: 1000px) {
    #bioText {
        display: block;
        margin: 50px;
    }

    #bioText > p {
        width: auto;
    }

}