section {
    justify-content: center;
    align-items: center;
}

.title {
    display: flex;
    justify-content: center;

}

#tree {
    position: absolute;
    top: 60px
}

#tree-device {
    display: none;
    position: absolute;
    top: 60px
}

.lines1, .lines2, .lines3, .lines4, .lines5, .lines6 {
    stroke: #525252;
}

.li-row {
    width: 800px;
    gap: 70px;
    align-items: end;
}

.li-element {
    width: 200px;
    
}

.ul {
    row-gap: 24px;
    margin: 20px
}

.ul > :nth-child(odd) > .li-element > p {
    text-align: right;
}

.date {
    font-style: italic;
    margin-bottom: 2px;
}

.exp {
    color: black;
}

footer {
    margin-top: 100px;
}

@media screen and (max-width: 844px) {
    #tree {
        display: none;

    }
    #tree-device {
        display: block;
        right: 0px
    }

    .void {
        display: none;
    } 

    section {
        justify-content: left;
    }
    .li-row {
        display: block;
        width: 100%;
        margin-bottom: 153px;
    }
    
    .ul > :nth-child(odd) > .li-element > p {
        text-align: left;
    }
    .title {
        justify-content: end;
    }
}